.pnl-chart-container {
  height: 100%;
  width: 50rem;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  grid-column: 1/5;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.yearly-pnl {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.year-btns-container {
  display: flex;
  gap: 1rem;
}

.year-btns {
  font-size: 0.9rem;
  padding: 0 0.5rem;
  border: 2px solid rgb(201, 201, 201);
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}

.year-btns.active {
  border: 2px solid blue;
}
