.view-modal-container {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.view-modal {
  height: 27rem;
  width: 35rem;
  background: antiquewhite;
  display: flex;
  flex-direction: column;
}

.view-modal-header {
  height: 3rem;
  background-color: #e9c46a;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-modal-header > h1 {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  letter-spacing: 3px;
}

.view-modal-header > span {
  padding: 0 1rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.view-modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.view-content-container {
  display: flex;
  border-bottom: 1px solid black;
  padding: 0.3rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.section {
  flex: 1;
  text-align: center;
}

.section > span,
h1 {
  font-size: 0.8rem;
}

.trade-details {
  padding: 0.5rem 1rem;
  flex: 1;
  max-height: 166px;
  margin-top: 0.5rem;
  border-left: none;
  border-right: none;
  white-space: normal;
  word-wrap: break-word;
  overflow-y: auto;
}

.trade-details > span {
  font-size: 0.8rem;
}

.close-view-modal {
  align-self: last baseline;
  height: 4rem;
  background-color: #e9c46a;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-view-modal > button {
  padding: 0.1rem 2rem;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}
