.view-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 27rem;
  width: 38rem;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.view-modal-header {
  height: 3rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: move;
}

.view-modal-header,
.close-view-modal {
  background-color: rgb(143, 143, 143);
}

.view-modal-header > h1 {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  letter-spacing: 3px;
  color: #fff;
}

.view-modal-header > span {
  padding: 0 1rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.view-modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.view-content-container {
  display: flex;
  border-bottom: 1px solid black;
  padding: 0.3rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.section > h1 {
  font-size: 0.9rem;
  font-weight: 600;
}

.trade-details {
  padding: 0.5rem 1rem;
  flex: 1;
  max-height: 166px;
  margin-top: 0.5rem;
  border-left: none;
  border-right: none;
  white-space: normal;
  word-wrap: break-word;
  overflow-y: auto;
}

.trade-details > span > h1 {
  font-size: 0.8rem;
}

.trade-details > span {
  font-size: 0.8rem;
}

.close-view-modal {
  align-self: last baseline;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-view-modal > button {
  padding: 0rem 2rem;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  background: var(--add-btn);
  color: #fff;
}
