.trades-container {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.header {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

#filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
  background-color: transparent;
  border: none;
  color: rgb(58, 180, 228);
  cursor: pointer;
}

#add-btn {
  padding: 0 1rem;
  background-color: violet;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  color: white;
}

#add-btn:hover {
  border: 2px solid rgb(206, 29, 206);
}
