.trades-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}

.header {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #eeeeee;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.5rem;
  margin-right: 0.5rem;
  background-color: transparent;
  border: 2px solid transparent;
  color: rgb(58, 180, 228);
  cursor: pointer;
}

.filter-btn.active {
  border-bottom: 2px solid var(--border);
}

#add-btn {
  padding: 0 1rem;
  background-color: var(--pagination-bg);
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  color: white;
  transition: scale 0.1s ease-in-out;
}

#add-btn:hover {
  scale: 1.05;
}
