.table-container {
  width: 100%;
  height: 100%;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
}

.table {
  width: 100%;
  height: 100%;
  max-height: 27.5rem;
  overflow-y: auto;
}

.table-container table {
  margin-top: 0.5rem;

  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

thead,
tbody {
  width: 100%;
}

.table-container td {
  padding: 0.5rem 0.2rem;
  text-align: center;
  font-size: 0.8rem;
  cursor: default;
  border: 1px solid #d4d4d4;
}

.table-container th {
  padding: 0.5rem 0.3rem;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.9rem;
  border: 1px solid #d4d4d4;
  border-bottom: 1px solid #8a8a8a;
  background-color: #f0f0f0;
}

.table-container th:nth-child(1) {
  background-color: #e7e7e7;
  width: 2rem;
}

.table-container th:nth-child(2) {
  text-align: left;
  min-width: 7.3rem;
}

.table-container th:nth-child(3) {
  width: 5rem;
}

.table-container th:nth-last-child(4) {
  min-width: 7rem;
}

.table-container th:nth-last-child(6) {
  min-width: 8.5rem;
}

.table-container th:nth-last-child(2) {
  min-width: 4rem;
}

.table-container td:first-child {
  background-color: #e7e7e7;
}

.empty-msg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-msg > h1 {
  font-size: 1.5rem;
}

#symbol {
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  font-size: 0.9rem;
  background-color: #f0f0f0;
}

.edit-trade,
.delete-trade {
  font-size: 0.8rem;
}

.edit-trade {
  color: var(--add-btn);
}

.delete-trade {
  color: rgb(241, 95, 95);
}

.edit-delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#position {
  margin: 0 0.3rem;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: #e0f1ff;
  font-weight: 500;
}
