.table-container {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0.5rem 1rem;
  position: relative;
}

.table-container table {
  margin-top: 0.5rem;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

thead,
tbody {
  width: 100%;
  background: var(--table-head-body-background);
}

.table-container tr:nth-child(even) {
  background-color: var(--table-even-bg);
}

.table-container td {
  padding: 0.5rem 0.2rem;
  text-align: center;
  font-size: 0.8rem;
  cursor: default;
}

.table-container th {
  background-color: var(--add-btn);
  padding: 0.5rem 0.3rem;
  text-transform: capitalize;
  font-size: 0.9rem;
  border-left: 1px solid rgb(201, 201, 201);
  color: white;
}

.table-container th:nth-child(1) {
  border-left: none;
  text-align: left;
}

.empty-msg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-msg > h1 {
  font-size: 1.5rem;
}

#symbol {
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  font-size: 0.9rem;
}

.edit-trade,
.delete-trade {
  font-size: 0.8rem;
}

.edit-trade {
  color: var(--add-btn);
}

.delete-trade {
  color: rgb(241, 95, 95);
}

.edit-delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
