.filters {
  flex: 1;
  height: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.filters > select,
.from-to-date {
  height: 1.7rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid transparent;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  outline: none;
}

.filters > label {
  font-weight: 600;
}

.filters > select:focus,
.from-to-date:focus {
  border: 2px solid violet;
}

#clear-btn {
  font-size: 0.9rem;
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: rgb(255, 110, 110);
  cursor: pointer;
}
