.stats-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  row-gap: 0.5rem;
}

.stats {
  height: 10rem;
  border-radius: 5px;
  width: 19rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #3b3b3b;
  background-color: #fff;
  align-items: center;
}

.overall {
  justify-content: space-between;
}

.average-loss,
.average-profit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overall-pnl,
.win-rate,
.max-profit,
.max-loss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overall > h4 {
  font-weight: 400;
  color: var(--grey-text);
}

.overall > span {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.arrow-trend {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.overall > span > h3,
.overall > h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

.rr-ratio > h4 {
  font-weight: 400;
  color: var(--grey-text);
}

.rr-ratio > span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rr-ratio > span > h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.win-rate > span > h3 {
  letter-spacing: 2px;
  font-weight: 600;
}

.square-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.square-container > h4 {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--grey-text);
}

.average-profit,
.average-loss {
  display: flex;
  padding-left: 1rem;
  align-items: center;
}

.average-profit > span,
.average-loss > span {
  gap: 1rem;
}

.average-profit > span > h4,
.average-loss > span > h4 {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--grey-text);
  /* padding-top: 0.2rem; */
}

.average-profit > span > h3,
.average-loss > span > h3 {
  font-weight: 500;
}

.arrow-up-square,
.arrow-down-square {
  margin-right: 0.5rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  background-color: rgb(36, 194, 36);
}

.arrow-down-square {
  background-color: rgb(250, 103, 103);
}

.average-risk-per-trade {
  padding-top: 0.2rem;
}

.average-risk-per-trade > h4,
.total-trades > h4 {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--grey-text);
}

.average-risk-per-trade > h3 {
  padding-top: 0.1rem;
}

.average-risk-per-trade > h3,
.total-trades > h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.total-trades {
  grid-column: 1/3;
  border-bottom: 1px solid #3b3b3b;
}
