.stats-section {
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  display: flex;
}

.stats-container {
  height: 9rem;
  width: 18rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  gap: 0.5rem;
  column-gap: 1rem;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats > p,
.stats > span > p {
  font-size: 0.8rem;
  color: var(--grey-text);
}

.stats > h1,
.stats > span > h1 {
  font-weight: 600;
  font-size: 1.1rem;
  padding-top: 0.3rem;
}

.arrow-trend {
  margin-right: 0.3rem;
}

.stats > span {
  display: flex;
  align-items: center;
}

.arrow-up-square,
.arrow-down-square {
  background-color: rgb(0, 177, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding: 0 0.3rem;
}

.arrow-down-square {
  background-color: rgb(255, 87, 87);
}
