@import url("https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "./styles/variables.css";
@import "tailwindcss";

@layer base {
  html {
    font-family: "Manrope", system-ui, serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-style: normal;
  }

  #root,
  body {
    @apply flex flex-col h-full w-full;
  }

  th {
    @apply p-2 text-sm capitalize border-gray-400 border-b;
  }

  td {
    @apply p-2 text-sm text-center border-t border-gray-300;
  }
}

@layer components {
  .filter-select {
    @apply px-2 py-1 text-sm text-violet-400 bg-violet-50 outline-none rounded-md;
  }
}
