@import url("https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    height: 100%;
    font-family: "Manrope", system-ui, serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-style: normal;
  }

  #root,
  body {
    @apply flex flex-col w-full;
  }

  th {
    @apply p-2 text-sm capitalize;
  }

  td {
    @apply p-2 text-sm text-center border-t border-gray-300 dark:border-gray-700;
  }
}

@layer components {
  .filter-select {
    @apply p-1 lg:px-2 lg:py-1 text-xs lg:text-sm text-violet-400 bg-violet-50 dark:bg-blue-900 dark:text-blue-300 outline-none rounded-md;
  }

  .add-modal-select {
    @apply bg-violet-50 dark:border-teal-900 dark:border dark:text-gray-400 dark:bg-gray-800 dark:shadow-none text-sm py-1 pl-3 w-full rounded text-violet-500 outline-none shadow shadow-gray-300;
  }

  .view-modal-section {
    @apply flex-1 text-center border-l border-gray-400;
  }

  .view-modal-span {
    @apply text-gray-400 text-[0.8rem];
  }

  .view-modal-h1 {
    @apply text-[0.9rem] font-bold;
  }

  .scrollbar-thin-x::-webkit-scrollbar {
    height: 6px;
  }
}

.prose {
  --tw-prose-body: #000000;
  --tw-prose-headings: rgb(13, 152, 233);
  --tw-prose-lead: black;
  --tw-prose-links: blue;
  --tw-prose-bold: black;
  --tw-prose-quotes: black;
  --tw-prose-bullets: black;
  --tw-prose-counters: black;
}

.dark .prose {
  --tw-prose-body: #ffff;
  --tw-prose-headings: rgb(13, 152, 233);
  --tw-prose-lead: #ffff;
  --tw-prose-links: blue;
  --tw-prose-bold: #ffff;
  --tw-prose-quotes: #fff;
  --tw-prose-bullets: #ffff;
  --tw-prose-counters: #ffff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

.dark ::-webkit-scrollbar-track {
  background: rgba(0, 0, 255, 0.034);
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 8px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

.dark input[type="date"]::-webkit-calendar-picker-indicator,
.dark input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
}
